.h1{
    font-size: 60px;
    font-family: 'Space Grotesk', sans-serif;
    text-align: start;
    margin: 0;
    padding-top: 70px;
}

.p{
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: normal;
    text-align: start;
}

.p2{
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #878787;
    padding-top: 70px;
    padding-bottom: 10px;
}

.button{
    background-color: white;
    border: none;
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    width: 129px;
    height: 43px;
    border-radius: 5px;
}