.App {
  text-align: center;
}

.UL-menu{
  position: relative;
  margin: auto;
  top: -290px;
}
.App-logo {
  width: 108px;
  height: 40px;
  pointer-events: none;
  position: relative;
  margin: auto;
  top: -250px;
  right: 500px;
}

.Menu-link{
  text-decoration:none;
  color: #878787;
  font-size: 16px;
  padding: 10px;
  font-family: 'Kanit', sans-serif;
  font-weight:50;
}

.Menu-link2{
  text-decoration:none;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  left: 300px;
  padding-left: 50px;
  padding-right: 35px;
  font-family: 'Kanit', sans-serif;
}

.Button-link{
  width: 91px;
  height: 43px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  position: relative;
  left: 300px;
}
.Button-link:hover{
  background-color: #141414;
  color: white;
  cursor: pointer;
}

.App {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
